@{
  Layout = "_Layout";
}
@using WhatsForDinner.Models;
@model List<WhatsForDinner.Models.Recipe>;
  <ul>
    <h4>Breakfast Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isBreakfast){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
    <h4>Lunch Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isLunch){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
    <h4>Dinner Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isDinner){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
  </ul>


<p>@Html.ActionLink("Add Recipe", "Create")</p>
<p>@Html.ActionLink("Import Recipe","Import")</p>
<p>@Html.ActionLink("Home", "Index", "Account")</p>