@{
  Layout ="_Layout";
}

@model WhatsForDinner.Models.Recipe

<h2>@Model.Title</h2>

<p>Ingredients: @Model.Ingredients</p>
<p>Preferred day of the week: @Model.PreferredDay</p>
<p>How often you'd like to eat @Model.Title: Every @Model.MinFrequency days</p>
<p>The longest you'd like to go before eating @Model.Title: @Model.MaxFrequency days</p>

<button>@Html.ActionLink("Edit recipe", "Edit", new{id= Model.RecipeId})</button>
<button>@Html.ActionLink("Delete recipe", "Delete", new{id=Model.RecipeId})</button>
<p>@Html.ActionLink("Back to Recipes", "Index")</p>