@{
  Layout ="_Layout";
}

@model WhatsForDinner.Models.Recipe

<h2>@Model.Title</h2>
@if(@Model.Ingredients != null){
<p>Ingredients: @Model.Ingredients</p>
}
@if(@Model.RecipeUrl != null)
{
  <a href=@Model.RecipeUrl>Check out the recipe</a>
}
<p>How often you'd like to eat @Model.Title: Every @Model.MinFrequency days</p>
<p>The longest you'd like to go before eating @Model.Title: @Model.MaxFrequency days</p>

<button>@Html.ActionLink("Edit recipe", "Edit", new{id= Model.RecipeId})</button>
<button>@Html.ActionLink("Delete recipe", "Delete", new{id=Model.RecipeId})</button>
<p>@Html.ActionLink("Back to Recipes", "Index")</p>