@{
  Layout ="_Layout";
}

@model WhatsForDinner.Models.ImportedRecipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
  <p>@Html.Label("Recipe URL")</p>
  <p>@Html.TextBoxFor(m => m.sourceUrl)</p>
  <p>@Html.Label("Breakfast")
  @Html.CheckBoxFor( m=> m.Breakfast)</p>
  <p>@Html.Label("Lunch")
  @Html.CheckBoxFor(m=> m.Lunch)</p>
  <p>@Html.Label("Dinner")
  @Html.CheckBoxFor(m=> m.Dinner)</p>
    <p>@Html.Label("How frequently would you like to have this meal (in days)?")</p>
  <p>@Html.TextBoxFor(m => m.MinFrequency, new{ type="number"})</p>
  <p><input type="submit" value="Import Recipe" class="submit"></p>
}

<div class="clickable">@Html.ActionLink("Back to recipes", "Index")</div>

