@{
  Layout ="_Layout";
}

@model WhatsForDinner.Models.Recipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(m => m.Title)</p>
  <p>@Html.TextBoxFor(m => m.Title, new { required="required" })</p>

  <p>@Html.Label("Recipe URL")</p>
  <p>@Html.TextBoxFor(m => m.RecipeUrl)</p>
  <p><input type="submit" value="Import Recipe", new {required ="required"}></p>
}
<p>@Html.ActionLink("Add your own recipe", "Create")</p>
<p>@Html.ActionLink("Back to recipes", "Index")</p>