@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using WhatsForDinner.Models;
@model WhatsForDinner.Models.WhatsForDinnerContext;

@if(User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!
    @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out"/>
  }
  </p>
  <h2>Upcoming Recipes</h2>
  @* @foreach(UserCalendar userCalendar in Model)
  {
    <li>hi</li>
  } *@
}

@*
else{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log In", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Recipe Calendar", "Calendar", "Recipes")</p>
} *@