@{
  Layout ="_Layout";
}

@model WhatsForDinner.Models.ApplicationUserWeek

<h2>Week of: @Model.RecipeWeek.WeekOf.ToShortDateString()</h2>

<div class ="row">
      <div id="calendar-card" class="col">
        <h4>Monday</h4>
        <h4>Breakfast</h4>
        <p>@Html.ActionLink($"{Model.RecipeWeek.Week[0].Breakfast.Title}","Details", "Recipes", new{id=$"{Model.RecipeWeek.Week[0].Breakfast.RecipeId}"})</p>
        @* <h4>Lunch</h4>
        <p>@Html.TextBoxFor(m => m[7].Title,  new { @readonly="readonly" })</p>
        <h4>Dinner</h4>
        <p>@Html.TextBoxFor(m => m[14].Title,  new { @readonly="readonly" })</p> *@
      </div>
      @* <div id="calendar-card" class="col">
        <h4>Tuesday</h4>
        <h4>Breakfast</h4>
        <p>@Html.TextBoxFor(m => m[1].Title, new { @readonly="readonly" })</p>
        <h4>Lunch</h4>
        <p>@Html.TextBoxFor(m => m[8].Title, new { @readonly="readonly" })</p>
        <h4>Dinner</h4>
        <p>@Html.TextBoxFor(m => m[15].Title, new { @readonly="readonly" })</p>
      </div>
      <div id="calendar-card" class="col">
        <h4>Wednesday</h4>
        <h4>Breakfast</h4>
        <p>@Html.TextBoxFor(m => m[2].Title, new { @readonly="readonly" })</p>
        <h4>Lunch</h4>
        <p>@Html.TextBoxFor(m => m[9].Title, new { @readonly="readonly" })</p>
        <h4>Dinner</h4>
        <p>@Html.TextBoxFor(m => m[16].Title, new { @readonly="readonly" })</p>
      </div>
      <div id="calendar-card" class="col">
        <h4>Thursday</h4>
        <h4>Breakfast</h4>
        <p>@Html.TextBoxFor(m => m[3].Title, new { @readonly="readonly" })</p>
        <h4>Lunch</h4>
        <p>@Html.TextBoxFor(m => m[10].Title, new { @readonly="readonly" })</p>
        <h4>Dinner</h4>
        <p>@Html.TextBoxFor(m => m[17].Title, new { @readonly="readonly" })</p>
      </div>
    </div>
    <div class="row">
      <div id="calendar-card" class="col">
          <h4>Friday</h4>
          <h4>Breakfast</h4>
          <p>@Html.TextBoxFor(m => m[4].Title, new { @readonly="readonly" })</p>
          <h4>Lunch</h4>
          <p>@Html.TextBoxFor(m => m[11].Title, new { @readonly="readonly" })</p>
          <h4>Dinner</h4>
          <p>@Html.TextBoxFor(m => m[18].Title, new { @readonly="readonly" })</p>
      </div>
      <div id="calendar-card" class="col">
          <h4>Saturday</h4>
          <h4>Breakfast</h4>
          <p>@Html.TextBoxFor(m => m[5].Title, new { @readonly="readonly" })</p>
          <h4>Lunch</h4>
          <p>@Html.TextBoxFor(m => m[12].Title, new { @readonly="readonly" })</p>
          <h4>Dinner</h4>
          <p>@Html.TextBoxFor(m => m[19].Title, new { @readonly="readonly" })</p>
      </div>
      <div id="calendar-card" class="col">
        <h4>Sunday</h4>
        <h4>Breakfast</h4>
        <p>@Html.TextBoxFor(m => m[6].Title, new { @readonly="readonly" })</p>
        <h4>Lunch</h4>
        <p>@Html.TextBoxFor(m => m[13].Title, new { @readonly="readonly" })</p>
        <h4>Dinner</h4>
        <p>@Html.TextBoxFor(m => m[20].Title, new { @readonly="readonly" })</p>
      </div> *@
    </div>

@* <button>@Html.ActionLink("Edit recipe", "Edit", new{id= Model.RecipeId})</button>
<button>@Html.ActionLink("Delete recipe", "Delete", new{id=Model.RecipeId})</button> *@
<p>@Html.ActionLink("Back to Meal Plans", "Index")</p>

@* todo: finish adding in weekly recipe info *@