<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>What's For Dinner?</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oleo+Script&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(253, 243, 234);">
      <a class="navbar-brand" href="/">What's For Dinner?</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          @if(User.Identity.IsAuthenticated){
            @Html.ActionLink("Home", "Index","Account", null, new {@class ="nav-item nav-link"})
            @Html.ActionLink("Recipes", "Index", "Recipes", null, new {@class = "nav-item nav-link"})
          }
          else{
            @Html.ActionLink("Register", "Register", "Account", null, new {@class = "nav-item nav-link"})
            @Html.ActionLink("Login", "Login", "Account", null, new {@class ="nav-item nav-link"})
          }
        </div>
      </div>
    </nav>
    @RenderBody()
  </div>
</body>

</html>